/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    font-variation-settings: "wght" var(--page-main-wght, 400);
    min-inline-size: 320px;
    min-block-size: 100dvb;
    background: var(--back-color, #fff);
    margin-inline: auto;
    background-image: var(--page-background-image, none);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    max-width: 700px;
    margin-inline: auto;
    margin-block-start: 100px;
    border: 2px solid var(--border-color, #000);
    font-family: var(--font-PressStart);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    color: var(--text-color, #000);
    background-color: var(--back-color, #fff);
}

.header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    line-height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

.header__title-accent {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    line-height: 65px;
    margin-block-start: 136px;
}

.theme-menu__list {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block: 5px 25px;
}

.theme-menu__button {
    position: relative;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    transition: opacity 0.3s ease;
    cursor: pointer;
    appearance: none;
}

.theme-menu__button:not(:disabled)::after {
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 2px;
    background: currentColor;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.theme-menu__button:hover {
    opacity: 0.6;
}


.theme-menu__button:focus {
    outline: none;
    opacity: .6;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}


.theme-menu__button::before {
    content: ' ';
    display: block;
    inline-size: 14px;
    color: var(--text-color, #000);

}

.theme-menu__button[disabled]::before {
    content: "▶";
    position: absolute;
    animation: arrow 0.5s ease-in-out infinite alternate;
    inset-inline-start: -20px;
}

/*MAIN*/


.main {
    margin-inline: auto;
    margin-block-start: 100px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block-end: 50px;
}

.card {
    border: 2px solid var(--border-color, #000);
    color: var(--text-color, #000);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-block-end: 25px;
    background-color: var(--back-color, #fff);
    position: relative;
}

.card-title {
    padding-block: 3px;
    padding-inline-start: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    width: 100%;
    font-stretch: 200%;
}

.img-cont {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    max-height: 696px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}


.card-img-text {
    position: absolute;
    top: 55px;
    right: 25px;
    font-family: var(--font-PressStart);
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--text-color, #000);
    -webkit-text-stroke: 1px var(--stroke-color);
    mix-blend-mode: hard-light;
    text-transform: uppercase;
    opacity: .5;
    z-index: 1;
}

.card-img_blur {
    filter: blur(2px);
}

.card-img_brightness {
    filter: brightness(25%) contrast(87%) blur(10px);
}

.card-img_hue {
    filter: hue-rotate(138deg);
}

.card-img_invert {
    filter: invert(70%);
}

.card-img_sepia {
    filter: sepia(100%);
}

.card-img_saturate {
    filter: saturate(180%);
}

.card-img_contrast {
    filter: contrast(200%);
}

.card-desc {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-inline: 25px;
    padding-block-start: 30px;
    width: 100%;
}

.card__like-button-cont {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-block-start: 25px;
}

.button {
    position: relative;
    z-index: 1;
    border: 2px solid var(--text-color, #000);
    padding: 10px 36px;
    font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
    font-size: 14px;
    text-transform: inherit;
    background: var(--back-color, #fff);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    appearance: none;
}

.button::before {
    content: "";
    background: var(--text-color, #000);
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
}

.button:hover::before {
    transform: scaleX(1);
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px var(--text-color, #000);
}

.card__icon_button {
    background: none;
    border: 2px solid transparent;
}

.like-icon {
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card__like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 130px;
    block-size: 38px;
    border: 2px solid var(--border-color, #000);
    position: relative;
    overflow: hidden;
    margin-inline-end: 25px;
}

.button__text {
    font: 400 14px var(--font-PressStart);
    line-height: 12.6px;
}

.card__like-button-text {
    position: relative;
    mix-blend-mode: difference;
    color: var(--button-color, #fff);
}

.card__like-button::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--text-color, #000000);
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    inline-size: 100%;
    block-size: 100%;
}

.card__like-button:focus {
    outline: none;
}

.card__like-button:hover.card__like-button::before {
    translate: 0;
}

.card__icon_button:focus-visible {
    border-color: var(--text-color, #000);
}

.card__icon_button:focus {
    outline: none;
}

.button-save {
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border: 2px solid var(--text-color, #000);
    font-family: var(--font-PressStart);
    color: var(--text-color, #000);
    background-color: var(--back-color);
    font-size: 14px;
    margin-block-end: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    appearance: none;
}

.button-save__text {
    position: relative;
    mix-blend-mode: difference;
    color: var(--button-color, #fff);
}

.button-save__text:nth-child(1) {
    text-transform: uppercase;
}

.button-icon {
    block-size: 22px;
    inline-size: 22px;
    color: var(--button-color, #fff);
    mix-blend-mode: difference;
    position: relative;
}

.button-save::before {
    content: '';
    inset: 0;
    display: block;
    position: absolute;
    background: var(--border-color, #000);
    transition: .5s translate ease-in;
    translate: -100% 0;
}

.button-save:hover.button-save::before {
    translate: 0;
}

.save {
    background-color: var(--back-color, #fff);
    border: 2px solid var(--text-color, #000);
    padding: 30px;
    text-transform: uppercase;
    max-width: 353px;
    position: fixed;
    inset: 0;
    z-index: 1;
}

.save::backdrop {
    background: #000;
    opacity: .75;
    overflow: auto;
    overscroll-behavior: none;
}


.save__text {
    color: var(--text-color, #000);
    position: relative;
    font-family: var(--font-PressStart);
    line-height: 21px;
    font-size: 14px;
}


.button-save-modal {
    margin-inline: auto;
    margin-block: 30px 0;
    inline-size: 100%;
}

.save__button-icon {
    inline-size: 39px;
    color: var(--text-color, #fff);
    flex-shrink: 0;
}

.save__desc {
    display: flex;
    gap: 20px;
}

.button-save:focus {
    outline: none;
}

.button-save:focus-visible {
    box-shadow: 2px 2px 0 0 var(--border-color, #000);
}

@media screen(width <= 375px) {
    .save {
        padding: 28px 34px 28px 40px;
        max-inline-size: 340px;
    }
}


