/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-color: #00CC14;
    --border-color: #00CC14;
    --back-color: #000;
    --button-color: #00CC14;
    --like-sprite: url("../svg/hearts-dark.svg");
    --stroke-color: #fff;

    --page-background-image: repeating-linear-gradient(
            to left,
            #000000 0 2px,
            #00000000 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000000 0 2px, #00000000 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}